<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>name</key>
        <string><![CDATA[ ]]></string>
        <key>width</key>
        <real>12</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>2</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[A]]></string>
        <key>width</key>
        <real>15</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>16</integer>
        <key>y</key>
        <integer>2</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[B]]></string>
        <key>width</key>
        <real>15</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>35</integer>
        <key>y</key>
        <integer>2</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[C]]></string>
        <key>width</key>
        <real>19</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>54</integer>
        <key>y</key>
        <integer>2</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[D]]></string>
        <key>width</key>
        <real>17</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>77</integer>
        <key>y</key>
        <integer>2</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[E]]></string>
        <key>width</key>
        <real>14</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>98</integer>
        <key>y</key>
        <integer>2</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[F]]></string>
        <key>width</key>
        <real>14</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>116</integer>
        <key>y</key>
        <integer>2</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[G]]></string>
        <key>width</key>
        <real>15</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>134</integer>
        <key>y</key>
        <integer>2</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[H]]></string>
        <key>width</key>
        <real>16</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>153</integer>
        <key>y</key>
        <integer>2</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[I]]></string>
        <key>width</key>
        <real>16</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>173</integer>
        <key>y</key>
        <integer>2</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[J]]></string>
        <key>width</key>
        <real>18</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>193</integer>
        <key>y</key>
        <integer>2</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[K]]></string>
        <key>width</key>
        <real>16</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>215</integer>
        <key>y</key>
        <integer>2</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[L]]></string>
        <key>width</key>
        <real>14</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>235</integer>
        <key>y</key>
        <integer>2</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[M]]></string>
        <key>width</key>
        <real>18</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>43</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[N]]></string>
        <key>width</key>
        <real>17</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>22</integer>
        <key>y</key>
        <integer>43</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[O]]></string>
        <key>width</key>
        <real>18</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>43</integer>
        <key>y</key>
        <integer>43</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[P]]></string>
        <key>width</key>
        <real>12</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>65</integer>
        <key>y</key>
        <integer>43</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[Q]]></string>
        <key>width</key>
        <real>19</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>81</integer>
        <key>y</key>
        <integer>43</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[R]]></string>
        <key>width</key>
        <real>13</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>104</integer>
        <key>y</key>
        <integer>43</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[S]]></string>
        <key>width</key>
        <real>17</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>121</integer>
        <key>y</key>
        <integer>43</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[T]]></string>
        <key>width</key>
        <real>18</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>142</integer>
        <key>y</key>
        <integer>43</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[U]]></string>
        <key>width</key>
        <real>15</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>164</integer>
        <key>y</key>
        <integer>43</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[V]]></string>
        <key>width</key>
        <real>12</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>183</integer>
        <key>y</key>
        <integer>43</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[W]]></string>
        <key>width</key>
        <real>23</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>199</integer>
        <key>y</key>
        <integer>43</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[X]]></string>
        <key>width</key>
        <real>14</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>226</integer>
        <key>y</key>
        <integer>43</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[Y]]></string>
        <key>width</key>
        <real>15</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>84</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[Z]]></string>
        <key>width</key>
        <real>16</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>19</integer>
        <key>y</key>
        <integer>84</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[a]]></string>
        <key>width</key>
        <real>12</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>39</integer>
        <key>y</key>
        <integer>84</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[b]]></string>
        <key>width</key>
        <real>15</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>55</integer>
        <key>y</key>
        <integer>84</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[c]]></string>
        <key>width</key>
        <real>11</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>74</integer>
        <key>y</key>
        <integer>84</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[d]]></string>
        <key>width</key>
        <real>10</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>89</integer>
        <key>y</key>
        <integer>84</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[e]]></string>
        <key>width</key>
        <real>10</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>103</integer>
        <key>y</key>
        <integer>84</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[f]]></string>
        <key>width</key>
        <real>11</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>117</integer>
        <key>y</key>
        <integer>84</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[g]]></string>
        <key>width</key>
        <real>11</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>132</integer>
        <key>y</key>
        <integer>84</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[h]]></string>
        <key>width</key>
        <real>12</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>147</integer>
        <key>y</key>
        <integer>84</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[i]]></string>
        <key>width</key>
        <real>6</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>163</integer>
        <key>y</key>
        <integer>84</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[j]]></string>
        <key>width</key>
        <real>12</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>173</integer>
        <key>y</key>
        <integer>84</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[k]]></string>
        <key>width</key>
        <real>12</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>189</integer>
        <key>y</key>
        <integer>84</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[l]]></string>
        <key>width</key>
        <real>7</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>205</integer>
        <key>y</key>
        <integer>84</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[m]]></string>
        <key>width</key>
        <real>15</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>216</integer>
        <key>y</key>
        <integer>84</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[n]]></string>
        <key>width</key>
        <real>12</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>235</integer>
        <key>y</key>
        <integer>84</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[o]]></string>
        <key>width</key>
        <real>9</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>125</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[p]]></string>
        <key>width</key>
        <real>11</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>13</integer>
        <key>y</key>
        <integer>125</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[q]]></string>
        <key>width</key>
        <real>12</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>28</integer>
        <key>y</key>
        <integer>125</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[r]]></string>
        <key>width</key>
        <real>8</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>44</integer>
        <key>y</key>
        <integer>125</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[s]]></string>
        <key>width</key>
        <real>11</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>56</integer>
        <key>y</key>
        <integer>125</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[t]]></string>
        <key>width</key>
        <real>13</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>71</integer>
        <key>y</key>
        <integer>125</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[u]]></string>
        <key>width</key>
        <real>12</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>88</integer>
        <key>y</key>
        <integer>125</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[v]]></string>
        <key>width</key>
        <real>11</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>104</integer>
        <key>y</key>
        <integer>125</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[w]]></string>
        <key>width</key>
        <real>15</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>119</integer>
        <key>y</key>
        <integer>125</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[x]]></string>
        <key>width</key>
        <real>15</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>138</integer>
        <key>y</key>
        <integer>125</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[y]]></string>
        <key>width</key>
        <real>13</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>157</integer>
        <key>y</key>
        <integer>125</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[z]]></string>
        <key>width</key>
        <real>18</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>174</integer>
        <key>y</key>
        <integer>125</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[0]]></string>
        <key>width</key>
        <real>15</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>196</integer>
        <key>y</key>
        <integer>125</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[1]]></string>
        <key>width</key>
        <real>8</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>215</integer>
        <key>y</key>
        <integer>125</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[2]]></string>
        <key>width</key>
        <real>13</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>227</integer>
        <key>y</key>
        <integer>125</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[3]]></string>
        <key>width</key>
        <real>11</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>244</integer>
        <key>y</key>
        <integer>125</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[4]]></string>
        <key>width</key>
        <real>16</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>166</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[5]]></string>
        <key>width</key>
        <real>10</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>20</integer>
        <key>y</key>
        <integer>166</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[6]]></string>
        <key>width</key>
        <real>12</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>34</integer>
        <key>y</key>
        <integer>166</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[7]]></string>
        <key>width</key>
        <real>11</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>50</integer>
        <key>y</key>
        <integer>166</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[8]]></string>
        <key>width</key>
        <real>12</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>65</integer>
        <key>y</key>
        <integer>166</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[9]]></string>
        <key>width</key>
        <real>11</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>81</integer>
        <key>y</key>
        <integer>166</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[.]]></string>
        <key>width</key>
        <real>6</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>96</integer>
        <key>y</key>
        <integer>166</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[!]]></string>
        <key>width</key>
        <real>6</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>106</integer>
        <key>y</key>
        <integer>166</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[?]]></string>
        <key>width</key>
        <real>12</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>116</integer>
        <key>y</key>
        <integer>166</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[,]]></string>
        <key>width</key>
        <real>4</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>132</integer>
        <key>y</key>
        <integer>166</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[!]]></string>
        <key>width</key>
        <real>6</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>140</integer>
        <key>y</key>
        <integer>166</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA["]]></string>
        <key>width</key>
        <real>8</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>150</integer>
        <key>y</key>
        <integer>166</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[#]]></string>
        <key>width</key>
        <real>11</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>162</integer>
        <key>y</key>
        <integer>166</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[$]]></string>
        <key>width</key>
        <real>13</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>177</integer>
        <key>y</key>
        <integer>166</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[%]]></string>
        <key>width</key>
        <real>12</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>194</integer>
        <key>y</key>
        <integer>166</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[&]]></string>
        <key>width</key>
        <real>14</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>210</integer>
        <key>y</key>
        <integer>166</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[']]></string>
        <key>width</key>
        <real>6</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>228</integer>
        <key>y</key>
        <integer>166</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[(]]></string>
        <key>width</key>
        <real>6</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>238</integer>
        <key>y</key>
        <integer>166</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[)]]></string>
        <key>width</key>
        <real>8</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>248</integer>
        <key>y</key>
        <integer>166</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[*]]></string>
        <key>width</key>
        <real>6</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>207</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[+]]></string>
        <key>width</key>
        <real>11</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>10</integer>
        <key>y</key>
        <integer>207</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[-]]></string>
        <key>width</key>
        <real>12</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>25</integer>
        <key>y</key>
        <integer>207</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[:]]></string>
        <key>width</key>
        <real>5</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>41</integer>
        <key>y</key>
        <integer>207</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[;]]></string>
        <key>width</key>
        <real>6</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>50</integer>
        <key>y</key>
        <integer>207</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[<]]></string>
        <key>width</key>
        <real>10</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>60</integer>
        <key>y</key>
        <integer>207</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[=]]></string>
        <key>width</key>
        <real>12</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>74</integer>
        <key>y</key>
        <integer>207</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[>]]></string>
        <key>width</key>
        <real>10</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>90</integer>
        <key>y</key>
        <integer>207</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[[]]></string>
        <key>width</key>
        <real>12</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>104</integer>
        <key>y</key>
        <integer>207</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[\]]></string>
        <key>width</key>
        <real>11</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>120</integer>
        <key>y</key>
        <integer>207</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[]]]></string>
        <key>width</key>
        <real>6</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>135</integer>
        <key>y</key>
        <integer>207</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[^]]></string>
        <key>width</key>
        <real>8</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>145</integer>
        <key>y</key>
        <integer>207</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[_]]></string>
        <key>width</key>
        <real>12</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>157</integer>
        <key>y</key>
        <integer>207</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[{]]></string>
        <key>width</key>
        <real>12</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>173</integer>
        <key>y</key>
        <integer>207</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[|]]></string>
        <key>width</key>
        <real>6</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>189</integer>
        <key>y</key>
        <integer>207</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[}]]></string>
        <key>width</key>
        <real>12</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>199</integer>
        <key>y</key>
        <integer>207</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
    <dict>
        <key>name</key>
        <string><![CDATA[~]]></string>
        <key>width</key>
        <real>11</real>
        <key>height</key>
        <real>39</real>
        <key>x</key>
        <integer>215</integer>
        <key>y</key>
        <integer>207</integer>
        <key>ascent</key>
        <real>33</real>
        <key>descent</key>
        <real>-7</real>
    </dict>
</array>
</plist>
